.App {
  text-align: center;
  max-width: 50%;
  margin: 60px auto 0;
  /* border: 1px solid ; */
  width: 800px;
}
.day {
  width: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
.taskDiv {
  text-align: left;
  margin-top: 35px;
  max-width: 800px;
  display: flex;
}
body{
  /* background: rgb(250,248,235); */
  
}
.taskName{
font-size: 15px;
margin-bottom: 6px;
max-width: 800px;
max-height: 20px;
overflow: hidden;
}
.taskDescription{
  color: hsl(0, 0%, 50%);
  font-size: 13px;
  max-width: 800px;
  max-height: 20px;

  overflow: hidden;
}
.taskHr{
  border-bottom:0.5px solid #eeeeee;
  border-top:#eeeeee00;
  margin-top: 30px;
}
.taskTextDiv{
  display: flex;
  flex-direction: column;
}
.taskButton{
  width: 19px;
  height: 19px;
  margin-bottom:auto;
  margin-right: 20px;
  /* text-align: center;
  display: flex;
  align-items: center; */
  border-radius: 50%;
  border: 2px solid #d1453b;
  background-color:#f6dad8 ;
  transition: opacity 0.5s ease;
}
.taskButton::after{
  content: '';
  left: 100%; 
  transform: translateY(-50%); 
  white-space: nowrap; 
  opacity: 0;
  transition: opacity 500ms ease;
}
.taskButton:hover::after{
content: '✔';
color:#d1453b;
opacity: 1;
}
.qtyTasks{
  margin-top: 10px;
  margin-left: 3px;
  width: 100px;
}